@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";

    ViewBag.Title = "Home Page";
}
<div style="background: #d5e2e2">
    <div class="jumbotron alert-info">
        <center>
            <marquee><h2 class="text-white">Welcome to Extreme Lounge and Sports Bar. Please check regularly for Information and updates</h2></marquee>
        </center>

    </div>



    <br />
    @if (@User.Identity.IsAuthenticated)
    {
 <!-- START WIDGETS -->
        <div class="row">
            @if (User.IsInRole("Admin") || User.IsInRole("MD") || User.IsInRole("GM"))
            {
                <div class="col-md-3">

                    <!-- START WIDGET SLIDER -->
                    <div class="widget widget-default widget-carousel">
                        <div class="owl-carousel" id="owl-example">
                            <div>
                                <div class="widget-title">Products</div>
                                <div class="widget-subtitle">Total Products Registered</div>
                                <div class="widget-subtitle">@DateTime.Now.ToString("f")</div>
                                <div class="widget-int"> @ViewBag.ProductCount</div>
                            </div>
                            <div>
                                <div class="widget-title"> Products</div>
                                <div class="widget-subtitle">Added</div>
                                <div class="widget-int">10</div>
                            </div>
                            @*<div>
                            <div class="widget-title">New</div>
                            <div class="widget-subtitle">Visitors</div>
                            <div class="widget-int">1,977</div>
                        </div>*@
                        </div>
                        <div class="widget-controls">
                            <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
                        </div>
                    </div>
                    <!-- END WIDGET SLIDER -->

                </div>
                <div class="col-md-3">

                    <!-- START WIDGET MESSAGES -->
                    <div class="widget widget-success widget-item-icon" onclick="location.href = 'pages-messages.html';">
                        <div class="widget-item-left">
                            <span class="fa fa-envelope"></span>
                        </div>
                        <div class="widget-data">
                            <div class="widget-int num-count">2</div>
                            <div class="widget-title">
                                New Payments
                                <div class="widget-subtitle">In your mailbox</div>
                            </div>
                            <div class="widget-controls">
                                <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
                            </div>
                        </div>
                        <!-- END WIDGET MESSAGES -->

                    </div>
                </div>
                <div class="col-md-3">

                    <!-- START WIDGET REGISTRED -->
                    <div class="widget widget-info widget-item-icon" onclick="location.href = 'pages-address-book.html';">
                        <div class="widget-item-left">
                            <span class="fa fa-user"></span>
                        </div>
                        <div class="widget-data">
                            <div class="widget-int num-count">5</div>
                            <div class="widget-title">Registred Staff</div>
                            <div class="widget-subtitle">Logged In today</div>
                        </div>
                        <div class="widget-controls">
                            <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
                        </div>
                    </div>
                    <!-- END WIDGET REGISTRED -->

                </div>
            }
            <div class="col-md-3">

                <!-- START WIDGET CLOCK -->
                <div class="widget widget-danger widget-padding-sm">
                    <div class="widget-big-int plugin-clock">00:00</div>
                    <div class="widget-subtitle plugin-date">Loading...</div>
                    <div class="widget-controls">
                        <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="left" title="Remove Widget"><span class="fa fa-times"></span></a>
                    </div>
                    <div class="widget-buttons widget-c3">
                        <div class="col">
                            <a href="#"><span class="fa fa-clock-o"></span></a>
                        </div>
                        <div class="col">
                            <a href="#"><span class="fa fa-bell"></span></a>
                        </div>
                        <div class="col">
                            <a href="#"><span class="fa fa-calendar"></span></a>
                        </div>
                    </div>
                </div>
                <!-- END WIDGET CLOCK -->

            </div>
        </div>
        <!-- END WIDGETS -->
   
    }
    else
    {
        <div class="row">
            <center>
                <div>
                    <div class="feature1">
                        <a href="/Security/Account/LogIn">

                            <img src="~/Images/Salesman.png" class="img-responsive  img-centered">LogIn
                        </a>

                    </div>

                </div>

            </center>




        </div>

    }

</div>


<script type="text/javascript" src="~/Content/Render/js/plugins/rickshaw/rickshaw.min.js"></script>
